{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class="form-content">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <ul class='login-form'>
            <li>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" placeholder='Username...' required autofocus>
            </li>
            <li>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder='Password...' autocomplete="current-password" required>
            </li>
        </ul>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary btn-submit" type="submit">
            Sign in
        </button>
        <a href="{{ path('app_register') }}">Register</a>
    </div>
</form>
{% endblock %}
