{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('snake') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('snake') }}
{% endblock %}

{% block body %}
<div id="gameContainer">
    <div class="left">
        <input id="user_id" type="hidden" value="{{app.user.id}}"><span id="scoreText">0</span>
    </div>
    <div class="center">
        <canvas id="gameBoard" width="800" height="600"></canvas>
    </div>
    <div class="right"></div>
    <div class="modal">
      <div class="again">
        <div>
            <h3>The end</h3>
            <p>Your score is <span id="endText"></span></p>
            <p>Best score: <span id="high_score"></span></p>
        </div>
        <button id="resetBtn" class="btn">play again</button>
      </div>
    </div>
</div>
{% endblock %}
